web/WEB-INF/uniqlo/category.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.uniqlo.com"
            targetNamespace="https://www.uniqlo.com">
    <xsd:element name="categories" type="categories" />
    <xsd:complexType name="categories">
        <xsd:sequence>
            <xsd:element name="category" type="category" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="category">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>